
.pp1000 {
    display: block;
    line-height: 22px;
    text-align: center;
    color: #808080;
}

.apps-icon {
    display: block;
    background-color: #fff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: relative;
}

.contacts .apps-icon {
    background-color: #ffc04c;
}

.store .apps-icon {
    background-color: #5f6a99;
}

.myplan .apps-icon {
    background-color: #ffc04c;
}

.powerpack .apps-icon {
    background-color: #ff7c43;
}

.accounting .apps-icon {
    background-color: #73bd0b;
}

.advancepayments .apps-icon {
    background-color: #582f74;
}

.appointments .apps-icon {
    background-color: #e05896;
}

.bids .apps-icon {
    background-color: #c31c7c;
}

.billofsale .apps-icon {
    background-color: #ed697d;
}

.bom .apps-icon {
    background-color: #154d90;
}

.booking .apps-icon {
    background-color: #004f2b;
}

.businessproposals .apps-icon {
    background-color: #cba400;
}

.checklists .apps-icon {
    background-color: #a5cb2e;
}

.contracts .apps-icon {
    background-color: #36853D;
}

.costbook .apps-icon {
    background-color: #94ae26;
}

.creditnotes .apps-icon {
    background-color: #b96abb;
}

.debitnotes .apps-icon {
    background-color: #6976BA;
}

.creditnotes .apps-icon:after,
.debitnotes .apps-icon:after {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    padding: 1px;
    margin: 4px 0 0 3px;
    font-family: "Material Icons";
}

.creditnotes .apps-icon:after {
    content: "\e909";
    background-color: #b96abb;
}

.debitnotes .apps-icon:after {
    content: "\e146";
    background-color: #6976BA;
}

.deliverynotes .apps-icon {
    background-color: #3a9fba;
}

.depositrequests .apps-icon {
    background-color: #b62969;
}

.depositslips .apps-icon {
    background-color: #44b988;
}

.digitalsignatures .apps-icon {
    background-color: #8045af;
}

.documents .apps-icon {
    background-color: #f29b11;
}

.employees .apps-icon {
    background-color: #369c3b;
}

.estimates .apps-icon {
    background-color: #12315e;
}

.expenses .apps-icon {
    background-color: #11736e;
}

.files .apps-icon {
    background-color: #00707a;
}

.financialreports .apps-icon {
    background-color: #66b2b0;
}

.generalledger .apps-icon {
    background-color: #68a0d3;
}

.inventory .apps-icon {
    background-color: #fc8f3d;
}

.invoices .apps-icon {
    background-color: #1578af;
}

.jobestimator .apps-icon {
    background-color: #019d95;
}

.letters .apps-icon {
    background-color: #d2d618;
}

.marketplace .apps-icon {
    background-color: #801336;
}

.mileagelog .apps-icon {
    background-color: #514585;
}

.orderconfirmations .apps-icon {
    background-color: #b52b24;
}

.packingslips .apps-icon {
    background-color: #5f134f;
}

.pricelist .apps-icon {
    background-color: #26ad5f;
}

.profitloss .apps-icon {
    background-color: #8f2e73;
}

.proposals .apps-icon {
    background-color: #fc8f3d;
}

.purchaseorders .apps-icon {
    background-color: #a71c55;
}

.quotes .apps-icon {
    background-color: #ff6d68;
}

.receipts .apps-icon {
    background-color: #83236a;
}

.recurringinvoices .apps-icon {
    background-color: #1ab0d8;
}

.remittanceadvice .apps-icon {
    background-color: #5a9a20;
}

.reservations .apps-icon {
    background-color: #128450;
}

.retainers .apps-icon {
    background-color: #805ab4;
}

.salesorders .apps-icon {
    background-color: #d25300;
}

.salestax .apps-icon {
    background-color: #e9954f;
}

.subscriptions .apps-icon {
    background-color: #3397da;
}

.timesheets .apps-icon {
    background-color: #f0c30e;
}

.todo .apps-icon {
    background-color: #4ad382;
}

.webbuilder .apps-icon {
    background-color: #cc2e38;
}

.workorders .apps-icon {
    background-color: #3f78cb;
}

.apps-icon .material-icons {
    display: block;
    text-align: center;
    line-height: 80px;
    font-size: 48px;
    color: #fff;
}

.www-outline {
    display: block;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    font-size: 20px;
}

.wall {
    width: 800px;
    position: relative;
    margin-top: 22px;
}

.brick {
    display: block;
    width: 25%;
    height: 180px;
    float: left;
    padding: 20px;
}

.brick h2 {
    text-align: center;
    padding-top: 15px;
    font-size: 15px;
    color: #3c3c3c;
}

.brick:hover .apps-icon,
.brick:active .apps-icon,
.brick:focus .apps-icon {
    box-shadow: 0 0 18px rgba(0, 0, 0, .4), 0 0 3px rgba(0, 0, 0, .3);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.64), 0 0 3px rgba(0, 0, 0, .28);
}

.badge {
    display: inline-block;
    vertical-align: top;
    padding: 0.25em 0.4em;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border: 0.64px solid transparent;
    border-radius: 2px;
    position: relative;
    top: -3px;
    background-color: #6c6c6c;
    font-family: sans-serif;
}

.store .badge {
    background-color: #ec294d;
}

.apps-icon .badge {
    position: absolute;
    top: 0;
    right: 0;
}

.alert-info {
    padding-right: 122px;
    border-radius: 5px;
    margin: 40px 0 30px 0;
}

